
/*----------------------Footer-----------------------------------*/

.foo{
	width: 100%;
	height: 200px;
	background-color: #000;
}
#linha{
	width: 100%;
	height: 1px;
	background-color: rgba(0,0,0,.9);
}
.ter{
	width: 100%;
	height: 36px;
	background-color: #000;
	text-align: center;
}

/*----------------------Cadastro--------------------------------*/

.cadastro{
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 60px;
}
.cadastro #cadastro{
	width: 330px;
	height: 450px;
	background-color:#aaa;
	margin: 30px ;
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}
        .cadastro label,
        .cadastro input{
	        display: block;
	        line-height: 30px;
	        height: 30px;
	        width: 90%;
	        margin: 2px auto;
        }
.cadastro input[type='submit']{
	display: inline;
	margin-top: 10px;
	cursor: pointer;
	height: 40px;
	width: 80px;
}
			/*------------------Atualizar------------------*/

.cadastro form[id='atualizar']{
	width: 330px;
	height: 530px;
	background-color:#aaa;
	margin: 30px ;
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

/*----------------------Login--------------------------------*/

.box{
	width: 100%;
        min-height: 600px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}
#inbox{
	width: 330px;
	height: 190px;
	background-color: #aaa;
	margin: auto;
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}
        .box label,
        .box input{
	        display: block;
	        line-height: 30px;
	        height: 30px;
	        width: 90%;
	        margin: 2px auto;
        }
input[type='submit']{
	margin: 5%;
}
input[type='submit']{
	display: inline;
	margin-top: 10px;
	cursor: pointer;
	height: 40px;
	width: 80px;
}
a{
	text-align: center;
	text-decoration: none;
}

/*------------------------Img--------------------------------*/

#ic{
	width: 50px;
	height: 50px;
}
.men{
	width: 200px;
	height: 60px;
	background-color: #fff;
	text-align: center;
}
#men{
	display: none;
}
#men:checked ~ .men{
		margin-left: 0;
	}
	.men{
		margin-left: -100%;
		transition: all .4s;
		border-style: solid;
	}
	.men ul li{
		width: 100%;
		float: none;
		list-style: none;
	}
			/*---------------------Tabela----------------------*/

.tabela{
	min-height: 200px;
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*----------------------Navbar--------------------------------*/

*{
	margin: 0; 
	padding: 0;
	margin-top:0;
}
.menu{
	width: 100%;
	height: 80px;
	background-color: #000;
	font-family: "Arial";
}
.menu ul{
	list-style: none;
	position: relative;
}
.menu ul li{
	width: 150px;
	height: 50px;
	float: left;
}
.menu a{
	padding: 30px;
	height: 20px;
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: #000;
	color: #fff;
}
.menu a:hover{
	background-color: #f4f4f4;
	color: #333;
	text-decoration: none;
	height: 20px;
}
label[for='bt_menu']{
	padding: 5px;
	background-color: #000;
	color: #fff;
	font-family: "Arial";
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	width: 50px;
	height: 50px;
}
#bt_menu{
	display: none;
}
label[for='bt_menu']{
	display: none;
}
.logo_nav{
		display: block;
		width: 60px;
		height: 60px;
		position: static;
		float: right;
		padding: 6px;
}
@media(max-width: 800px){
	label[for='bt_menu']{
		display: block;
	}
	.bk_nav{
		background-color: #000;
		width: 100%;
		height: 60px;
	}
	.logo_nav{
		display: block;
		width: 50px;
		height: 40px;
		position: static;
		float: right;
		padding-top: 10px;
	}
	#bt_menu:checked ~ .menu{
		margin-left: 0;
	}
	.menu{
		margin-left: -100%;
		transition: all .4s;
		margin-bottom: -50px;
	}
	.menu ul li{
		width: 100%;
		float: none;
	}
}

/*----------------------grid--------------------------------*/

/* conteiner  --->   do Sobre */
.container  { 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
    @media (min-width: 1170px) {
        .container {
            max-width: 1170px;
            padding: 0;
        }
    }

    
.l{
        width: 100%;
        height: 200px;
        text-align: center;
        align-items: center;
        background-color: #aaa;
}


/* linha */
.row {
	width: 100%;
    /*margin-left: -5px;
    margin-right: -5px;*/
}
    .row:before,
    .row:after {
        content: "";
        display: table;
    }
    .row:after {
        clear: both;
    }

/* colunas */
.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    width: 100%;
    margin-right: -4px;
}


@media(max-width: 358px){
	.col img{
		width: 100%;
	}
}


    /* duas colonas */
    @media (min-width: 480px) {
        .col-2 {
            width: 50%;
        }
    }

    /* tres colunas */
    @media (min-width: 728px) {
        .col-3 {
            width: 33%;
        }
    }

    /* sidebar */
    @media (min-width: 992px) {
        .col-content {
            width: 60%;
        }

        .col-sidebar {
           width: 40%;
        }
    }


/* USAR APENAS PARA DEMOSTRAÇÂO */
.teste {
    background: #000;
    padding: 5px;
    text-align: center;
    margin: 2px 0;
    color: #fff;
}
.big {
    height: 50px;
}

#blk{
	background-color: #999;
}

/*----------------------Desc--------------------------------*/

.uly{
	width: 60%;
	display: inline-block;
    vertical-align: top;
    min-height: 1px;
    margin-right: -4px;
}

	@media(max-width: 1040px){
		.uly div{
			width: 100%;
		}
	}
.im{
	width: 30%;
	float: left;
	display: inline-block;
	text-align: center;
}
.desc{
	width: 30%;
	float: right;
	display: inline-block;
}

/*----------------------Compra--------------------------------*/

.boxComp{
	width: 100%;
        height: 720px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}
.compra{
	width: 350px;
	align-items: center;
}
.compra table{
	width: 100%;
	margin-bottom: 20px;
	background-color: #ddd;
}
.compra img{
	width: 100%;
}

/*-----------------Select da Encomenda------------------*/

.selct form select,
.selct input{
	height: 30px;
}
